.dialog-user {
    -fx-background-color: #c7fac7;
    -fx-background-radius: 10;
    -fx-padding: 8;
}

.dialog-bot {
    -fx-background-color: #d2d2fa;
    -fx-background-radius: 10;
    -fx-padding: 8;
}

.dialog-error {
    -fx-background-color: #fdd0d0;
    -fx-background-radius: 10;
    -fx-padding: 8;
}

.dialog-bubble {
    -fx-font-family: "Chalkboard";
    -fx-font-size: 14px;
}

.root {
    -fx-background-color: #f8d4a8;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

#dialogContainer {
    -fx-background-color: transparent;
}